.basePane {
    -fx-background-color : black;
}

.dialog_style {
    -fx-background-color : #212121;
}

.jfx-chip-view > .scroll-pane,
.jfx-chip-view > .scroll-pane > .viewport {
    -fx-background-color: #212121;
}

.jfx-chip-view .chips-pane > .text-area,
.jfx-chip-view .chips-pane > .text-area .scroll-pane,
.jfx-chip-view .chips-pane > .text-area .scroll-pane > .viewport,
.jfx-chip-view .chips-pane > .text-area:focused,
.jfx-chip-view .chips-pane > .text-area:focused .scroll-pane {
    -fx-background-color: #212121, #212121, #212121, #212121;
}

.scroll-pane .viewport {
    -fx-background-color: black;
}

.card {
    -fx-background-color: #1b1b1b;
    -fx-background-insets: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #1b1b1b, 10, 0, 0, 0);
}

.action_box {
    -fx-effect: none;
    -fx-border-color : gray;
    -fx-border-width : 1;
    -fx-border-radius : 10;
    -fx-background-color:black;
}

.action_box_highlight {
    -fx-effect: dropshadow(gaussian, green, 10, 0, 0, 0);
    -fx-border-color : green;
}

.accordion .titled-pane .title {
    -fx-background-color: #000000 ;
}

.accordion .titled-pane > *.content{
    -fx-background-color: #484848 ;
}

.accordion .content {
    -fx-border-width: 0;
}

.list-view {
    -fx-background-color: #232323;
}

.list-view .list-cell:hover {
    -fx-background-color: #434343;
}

.list-view .list-cell:selected {
    -fx-background-color: #434343;
}

.list-view .list-cell {
    -fx-background-color: #232323;
    -fx-text-fill: white;
}

.list-view .label {
    -fx-text-fill: white;
}